[Desktop Entry]
Version=1.0
Name=Messenger
Comment=Site-Specific Browser for Messenger
Exec=brave-browser --user-data-dir=/home/brett/.config/brave/ssb-www_messenger_com-app --app=https://www.facebook.com/messages/
Icon=~/Pictures/icons/messenger-icon.png
Type=Application
Categories=Network;WebBrowser;
Terminal=false
StartupWMClass=brave-www_messenger_com-app
