[Desktop Entry]
Version=1.0
Name=ChatGPT
Comment=Site-Specific Browser for ChatGPT
Exec=firefox -profile /home/brett/.mozilla/firefox/ssb-chat.openai.com-app -no-remote -new-instance https://chat.openai.com
Icon=~/Pictures/icons/chatgpt-icon.png
Type=Application
Categories=Network;WebBrowser;
Terminal=false
StartupWMClass=firefox
