[Desktop Entry]
Version=1.0
Name=Bowling
Comment=Site-Specific Browser for Bowling
Exec=firefox -profile /home/brett/.mozilla/firefox/ssb-docs.google.com_spreadsheets_d_1r4j6ndja2V2saGk4_ZjBVAliWYPnrznO7rdxforpHNI_edit?gid=302683978#gid=302683978-app -no-remote -new-instance https://docs.google.com/spreadsheets/d/1r4j6ndja2V2saGk4_ZjBVAliWYPnrznO7rdxforpHNI/edit?gid=302683978#gid=302683978
Icon=~/Pictures/icons/bowling-icon.png
Type=Application
Categories=Network;WebBrowser;
Terminal=false
StartupWMClass=firefox
