[Desktop Entry]
Version=1.0
Name=Gmail
Comment=Site-Specific Browser for Gmail
Exec=firefox -profile /home/brett/.mozilla/firefox/ssb-mail.google.com-app -no-remote -new-instance https://mail.google.com
Icon=~/Pictures/icons/gmail-icon.png
Type=Application
Categories=Network;WebBrowser;
Terminal=false
StartupWMClass=firefox
