[Desktop Entry]
Version=1.0
Name=ProtonMail
Comment=Site-Specific Browser for ProtonMail
Exec=firefox -profile /home/brett/.mozilla/firefox/ssb-mail.proton.me-app -no-remote -new-instance https://mail.proton.me
Icon=~/Pictures/icons/protonmail-icon.png
Type=Application
Categories=Network;WebBrowser;
Terminal=false
StartupWMClass=firefox
