[Desktop Entry]
Version=1.0
Name=ProtonWallet
Comment=Site-Specific Browser for ProtonWallet
Exec=brave-browser --user-data-dir=/home/brett/.config/brave/ssb-wallet_proton_me-app --app=https://wallet.proton.me
Icon=~/Pictures/icons/protonmail-icon.png
Type=Application
Categories=Network;WebBrowser;
Terminal=false
StartupWMClass=brave-wallet_proton_me-app
