[Desktop Entry]
Type=Application
Name=Anna
Comment=Open Anna's Gmail
Exec=brave-browser --new-window --user-data-dir=/home/brett/.config/brave-profiles/anna "https://mail.google.com/mail/u/0/#inbox"
Terminal=false
Icon=/home/brett/Pictures/icons/gmail.png
Categories=Network;WebBrowser;
