#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Grok
#Exec=brave --app="https://grok.com/" 
Exec=sh -c '[ -f /etc/arch-release ] && GTK_THEME=Arc-Darker brave --app="https://grok.com/" || brave-browser --app="https://grok.com/"'
Icon=/home/brett/Pictures/grok-icon.png
Actions=Direct-Messages;Explore;New-post;Notifications
