[Desktop Entry]
Name=Tesla All In
Comment=
#Exec=brave --app="https://docs.google.com/spreadsheets/d/1-xaJi5YRPnNRDQSZfzk0LZCpuSE1SaIAsXRhwAXGOWY/edit?gid=199894848#gid=199894848"
Exec=sh -c '[ -f /etc/arch-release ] && GTK_THEME=Arc-Darker brave --app="https://docs.google.com/spreadsheets/d/1-xaJi5YRPnNRDQSZfzk0LZCpuSE1SaIAsXRhwAXGOWY/edit?gid=199894848#gid=199894848" || brave-browser --app="https://docs.google.com/spreadsheets/d/1-xaJi5YRPnNRDQSZfzk0LZCpuSE1SaIAsXRhwAXGOWY/edit?gid=199894848#gid=199894848"'
Icon=/home/brett/Pictures/tesla-icon.svg
Terminal=false
Type=Application
Categories=Finance;
