[Desktop Entry]
Name=X
Comment=Launch X (formerly Twitter)
#Exec=brave --app="https://x.com/home"
Exec=sh -c '[ -f /etc/arch-release ] && GTK_THEME=Arc-Darker brave --app="https://x.com/home" || brave-browser --app="https://x.com/home"'
Icon=/home/brett/Pictures/xtwitter-icon.png
Terminal=false
Type=Application
Categories=Network;Social;
Keywords=X;Twitter;
